.hide {
display: none;
}
.show {
  display: block;
}
body {
  background-color: black;
  height: 270px;
  width: 250px;
  margin: 0
}
h3 {
  color: white;
  margin-left: 15px;
  margin-bottom: 6px;
  margin-top: 6px;
}
.sentRequestCount {
  color: white;
}
.mainDiv {
  margin-bottom: 50px;
}
.wheel {
  background: radial-gradient(black 55%, transparent 56%), conic-gradient(white 0% 100%);
  border-radius: 50%;
  height: 100px;
  width: 100px;
  transition: all 0.3s;
  justify-content: center;
  display: flex;
  align-items: center;

}
.mainWheelDiv {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 15px;
  margin-top: 15px;
}
.headingDiv {
  padding-bottom: 9px;
  padding-top: 9px;
  background-color: #383d3a;
  padding-left: 10px;
  color: white;
  font-size: 15px;
}
#connect {
  background-color: #46dd5f;
  height: 36px;
  width: 165px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  border: 3px solid #c4c9fa;
}
#connect:hover {
  background-color: #0b9e37;

}
#cancel {
  background-color: #f28763;
  height: 36px;
  width: 165px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  border: 3px solid #c4c9fa;
}
#cancel:hover {
  background-color: #f46839;
}
#success {
  background-color: red;
  height: 36px;
  width: 165px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  border: 3px solid #c4c9fa;
}
.buttonDiv {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.inv {
  color: white;
  font-size: 15px;
}